{% extends 'App/main.html' %}

{%load static%}
{%block body %}
<hr>
<div class="navs_2">
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/complaint_form/">Complaint Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/crime_stories/">Crime Stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/wanted/">Wanted Persons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/missing/">Missing Persons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/help/">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Your Complaints</a>
    </li>
    
  </ul>
</div>
  <hr>
<div class="home__image">
    <img class="home__image" src="{% static 'App/images/crime.jpg'%}"> 

</div>

<div>
    <hr>
<hr>
    <h3 id="crime__heading">CRIME TYPES</h3>
    <hr>
<hr>
    <div class="crime__div">
        <div class="row1">
            <div class="crime__card">
                <img class="card__image" src="https://source.unsplash.com/400x400/?Persoanl Crime" alt="crime image">
                <div>
                    <h5>Personal Crime</h5>
                    <p>This is personal Crime</p>
                </div>
            </div>
            <div class="crime__card">
                
                <img class="card__image" src="https://source.unsplash.com/400x400/?Proerty crime" alt="crime image">
                <div>
                    <h5>Proerty crime</h5>
                    <p>This is Proerty crime</p>
                </div>
            </div>
            <div class="crime__card">
                
                <img class="card__image" src="https://source.unsplash.com/400x400/?Inchoate crime" alt="crime image">
                <div>
                    <h5>Inchoate crime</h5>
                    <p>This is Inchoate crime</p>
                </div>
            </div>
            
        </div>
        <div class="row2">
            <div class="crime__card">
                <img class="card__image" src="https://source.unsplash.com/400x400/?Statutory Crime" alt="crime image">
                <div>
                    <h5>Statutory Crime</h5>
                    <p>This is Statutory Crime</p>
                </div>
            </div>
            <div class="crime__card">
                
                <img class="card__image" src="https://source.unsplash.com/400x400/?Felony Crime" alt="crime image">
                <div>
                    <h5>Felony Crime</h5>
                    <p>This is Felony Crime</p>
                </div>
            </div>
            <div class="crime__card">
                
                <img class="card__image" src="https://source.unsplash.com/400x400/?Misdemeanor Crime" alt="crime image">
                <div>
                    <h5>Misdemeanor Crime</h5>
                    <p>This is Misdemeanor Crime</p>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}